	<div id="main">
		<!-- Three Column Content -->
		<div class="cols three-cols">
			<div class="cl">&nbsp;</div>
			<div class="col">
				<h2>BETI</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p><a href="#" class="more">Learn more</a></p>
			</div>
			<div class="col">
				<h2>ECO GARDEN</h2>
				<p>UPRA has adopted the BMC garden in Union Park and will redevelop it into an Eco Garden with effective Green management of its requirements. Our proposal includes installation of Solar Panels for electricity required by the garden, rain water harvesting, bath water recycling for irrigation purpose and composting. </p>
				<p><a href="#" class="more">Learn more</a></p>
			</div>
			<div class="col col-last">
				<h2>COMMUNITY RADIO STATION</h2>
				<p>"I see Shakti in it – The miraculous Power of God." --Mahatma Gandhi, on Radio.The Jago Mumbai Radio Project successfully tested its broadcast signals on Maharashtra Day, May 1, 2010.Currently charging the airwaves with an EIGHT hour power packed broadcast, Jago Mumbai Radio will roll out its TWELVE hour format soon.</p>
				<p><a href="#" class="more">Learn more</a></p>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		<!-- END Three Column Content -->
		<!-- Two Column Content -->
		<div class="cols two-cols">
			<div class="cl">&nbsp;</div>
			<div class="col">
				<h2>COMMUNITY CENTER</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p><a href="#" class="more">Learn more</a></p>
			</div>
			<div class="col col-last">
				<h2>This Solution and That Solution...</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p><a href="#" class="more">Learn more</a></p>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		<!-- END Two Column Content -->
	</div>
